body {
  height: 100vh;
}

ons-button,
ons-button.button--material {
  background-color: transparent !important;
}

ons-toolbar {
  height: 0px !important;
  position: fixed !important;
  bottom: 0px !important;
}

ons-toolbar.toolbar-hidden {
  display: none;
}

ons-toolbar.toolbar-showing {
  display: inline-block;
}

ons-toolbar-button, button {
  cursor: pointer;
}

.title-codec-duration {
  margin-bottom: .5rem;
  flex-wrap: wrap;
}
.react-grid-item {
  overflow: hidden;
}

.player-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tracklist hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alum-modal .scrolling-tracklist {
  width: 100%;
  position: absolute !important;
  z-index: 100;
  overflow: hidden;
  max-width: 100%;

}
.album-title-text-default {
  height: 100px;
  font-size: 14px;
  color: black;
  text-wrap: initial;
  line-height: 1.5rem;
}
.grid-tracklist {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  margin: 1em 2em 1em 2em;
  padding-bottom: 70px;
}

.bpm-track-button {
  display: block;
}
.main-album-grid {
  width: 100%;
}
.album-grid-css {
  display: grid;
  gap: 16px;
  padding: 16px;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(5, 1fr);
  box-sizing: border-box;
  position: relative;
}

.album .album-image {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  max-width: 100%;
  object-fit: cover;
}

.album-grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
.album-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.album-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.album-grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.album-grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.album-grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.album-grid-7 {
  grid-template-columns: repeat(7, 1fr);
}
.album-grid-8 {
  grid-template-columns: repeat(8, 1fr);
}
.album-grid-9 {
  grid-template-columns: repeat(9, 1fr);
}
.album-grid-10 {
  grid-template-columns: repeat(10, 1fr);
}

.disc-icon {
  opacity: .2;
}
.album-no-artwork {  
  position: relative;
}
.album-text-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-wrap: initial;
  line-height: 1.5rem;
}

.album-background-image {
  overflow: hidden;
  height: 100vh;
}

/* 
    Album Grid view images and containers 
*/

.album-image {
  background-position: center;
}
.modal__content {
  height: 100vh;
}
.handle-container {
  z-index: 50;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.handle {
  width: 40px;
  height: 40px;
}
.loading-message {
  width: 300px;
  margin: auto auto;
  margin-top: 200px;
  text-align: center;
}

.loading-text {
  margin-top: 20px;
  font-size: 1.5em;
}
.album-cover {
  overflow: hidden;
}

.control-bar {
  visibility: visible;
  display: flex;
  position: fixed;
  z-index: 300;
  opacity: 0.95;
  bottom: 0;
  width: 100%;
  box-shadow: -1px -5px 16px #888888;
  padding: 10px 10px 25px 10px;
  background-color: white;
}

.light-theme .page__background {
  background-color: #d9d9d9 !important;
}

.control-bar.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.now-playing {
  display: flex;
  margin: 0 auto;
  padding: 0px 6px 0px 6px;
}
.album-size-slider {
  width: 50%;
  margin: 0 auto;
}

.playing-inset > {
  height: 100px;
  max-height: 100px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  max-width: 100%;
}

.genre-selector {
  font-size: 40px !important;
  text-align: center;
  flex-direction: row;
  display: flex;
  align-self: center;
  white-space: normal;
  flex-grow: 0;
  white-space: nowrap;
}

.genre-menu {
  
}
.player-selector {
  font-size: 40px !important;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-self: center;
  white-space: normal;
}
.player-selector ons-toolbar-button {
  margin: 0 auto;
}

.global-controls {
  display: flex;
  column-gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.alpha-shuffle,
.theme-control {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

button.genre-choice,
button.search-button {
  text-transform: none;
  border: solid;
  border-color: rgb(179, 177, 177);
  border-width: 1px;
  margin-left: 1em;
  margin: 5px 5px 5px 0px;
  padding: 2px 12px;
}
button.search-clear-button {
  border: none;
  margin-left: -1.5rem;
  z-index: 90;
  min-width: 1rem !important;
  background: #c1c1c19e;
  border-radius: 1rem;
  height: 1rem;
  align-self: center;
  display: flex;
  align-items: center;
  width: 1rem;
  justify-content: center;
  cursor: pointer;
  color: #8c8c8c;
}
button.order-select,
button.theme-select {
  width: 70px;
}
.search {
  display: flex;
  align-items: center;
}
.search-clear {
  background-color: #dcdcdc;
  border-radius: 5px;
}
.view-and-search-selector hr {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0px 10px 0px 10px;
}
.view-and-search-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.view-and-search-selector ons-button {
  flex-grow: 1;
}

.track-buttons {
  display: flex;
  align-items: center;
}
.view-and-search-selector ons-segment {
  margin-bottom: 20px;
  min-width: 120px;
}

.codec {
  color: grey;
  padding: 0 10px 0 10px;
  font-size: 8px;
  font-weight: 800;
  background: #f3ecec;
  border-radius: 3px;
  margin-left: 10px;
  width: auto;
  height: 12px;
}
.now-playing-album-title {
  font-weight: bold;
}
button {
  min-width: 40px !important;
}
.custom-den-controls {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}
.base-lms-controls {
  display: flex;
  padding: 0px 10px 0px 10px;
  max-width: 400px;
}
ons-toolbar-button.player-control-button {
  flex-grow: 1;
  padding: 2px 15px 2px 15px;
}

.custom-den-controls .player-control-button {
  margin-bottom: 0px;
}
.track-title {
  font-size: 1rem;
  text-transform: none;
  margin-right: .5rem;
}
.info-i {
  display: flex;
  text-transform: none;
  background-color: lightgray;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  font-weight: 700;
  font-family: ui-serif;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.i {
  display: flex;
  text-align: center;
  width: 100%;
  padding-left: 50%;
  position: relative;
  left: -3px;
}

.player-bar {
  display: flex;
}

.card {
  color: black;
}

.now-playing {
  display: block;
}

.now-playing > img {
  max-width: 150px;
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.now-playing .info {
  width: 100%;
  display: flex;
}
.now-playing-meta {
  white-space: normal;
  gap: 4px;
  flex-grow: 1;
  min-height: 5rem;
}
.now-playing-meta,
.control-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.playing-inset > div {
  height: 100px;
  flex-basis: 20%;
}

.album-info {
  display: flex;
  margin: 0.5rem;
  justify-content: space-between;
}
.album-info .text-info {
  flex-basis: 80%;
}

.mini-album-cover.button {
  margin: 5px 15px 5px 15px;
  padding: 0;
}
.mini-album-cover img {
  width: auto;
  height: 80px;
}

.track-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.track-container .track-info {
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
}
.track-container .tracklist-album {
  flex-grow: 1;
}

.grid-tracklist .track-details {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.track-info-controls {
  display: flex;
  align-items: center;
}
.tracklist-album {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.track-container .track-info .track-title {
  font-size: 1.4em;
}
.tracklist-album {
  width: 100px;
  display: inline-block;
  float: right;
  transition: 0.2s;
}
.list-track {
  height: 100px;
  border-style: solid;
  border-color: rgb(177, 174, 174);
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border-width: 2px;
  height: auto;
}
.track-list-dialog {
  z-index: 100;
}
.dialog {
  width: 80%;
  min-height: 100px;
}

.player-selector-dialog .dialog {
  height: auto !important;
}

.album-modal .dialog-container {
  box-shadow: 9px 11px 3px rgba(0, 0, 0, 0.28);
}

.album-modal .dialog {
  width: 90%;
  max-width: 700px;
  height: 90%;
}
.btn-icon {
  width: 3rem;
  stroke: #0076FF;
  cursor: pointer;
}
.btn-icon.randomize-icon {
  width: 2rem;
}
.btn-icon.download {
  height: 2rem;
} 
.selectors {
  display: flex;
  flex-direction: row;
}

.flip-container {
  width: 100%;
  height: auto;
}

.drawer-button {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
  background: white;
  opacity: 0.4;
  border: solid;
  border-width: 1px;
}

.view-and-search-selector span {
  font-size: 0.8em;
}

button.view-selector.composer-artist {
  min-width: 80px !important;
}
.composer-artist segment__button {
  line-height: 1.1em;
}
segment__button {
  border-color: rgb(232, 233, 233) !important;
  padding: 0px 5px 0px 5px;
}

.search-bar {
  display: flex;
}

.track-time {
  padding: 10px 0px 10px 0px;
  width: 80%;
}
.player-control-button {
  margin-bottom: 0px;
  padding: 2px 10px 20px 10px;
}
.now-playing {
  display: flex;
  font-size: 12px;
  margin-top: 1em;
  margin: 0 auto;
}
.now-playing-album-cover {
  min-width: 100px;
  max-width: 100%;
  float: right;
  transition: 0.2s;
  position: relative;
  flex-basis: 10%;
}

.now-playing-album-cover ons-button {
  padding: 0px;
}
.library-view {
  z-index: 100;
}
.now-playing > img {
  max-width: 25%;
  float: right;
  margin-right: 4px;
}
.slider-volume {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 200px;
}
.slider-volume ons-range {
  width: 100%;
}

.track-range .timings {
  display: flex;
  justify-content: space-between;
}
.loading-text {
  font-size: 5em;
}
.tracklist-album {
  width: 80px;
}

.tracklist-artist {
  font-weight: 800;
  margin-left: 10px;
}
.tracklist-album-title {
  margin-left: 10px;
  font-style: italic;
}
ons-range.track-time {
  width: 100%;
}
ons-button.show-controlbar {
  position: fixed;
  bottom: 10px;
  width: 5%;
  right: 5%;
  z-index: 500;
  opacity: 0.5;
  border: solid;
  border-color: #c0bac3;
  border-width: 0.5px;
  border-radius: 6px;
  background-color: white !important;
}
.button--large--cta {
  background-color: transparent !important;
}
.button--large--cta:active {
  background-color: transparent !important;
  opacity: 0.8 !important;
}
.toolbar-activation-zone {
  height: 100px;
  width: 100%;
  z-index: 500;
  position: fixed;
  bottom: 0;
}

.grid-size {
  display: flex;
  flex-direction: column;

  justify-content: center;
  position: sticky;
  z-index: 100;
  width: 200px;
}
.grid-size input,
.slider-volume input,
.track-time input {
  opacity: 0.5;
}
.grid-size ons-range {
  width: 200px;
}

.disc-number {
  font-size: 18px;
  margin-bottom: 15px;
}
.disc-number-text {
  margin-left: 10px;
}

.track-info {
  overflow-wrap: anywhere;
  max-width: 100%;
}

/* 
   Dark Theme 
*/

.dark-theme .dialog .list-item {
  background-color: black;
  color: white;
}
.dark-theme .list-item:hover {
  background-color: #a39191;
}

.dark-theme .search-bar input {
  background-color: #272727;
  color: white;
}
.dark-theme .page__background {
  background-color: black;
}
.dark-theme .toolbar {
  color: #a39191;;
}
.dark-theme img.album-image {
  width: 98%;
  max-width: 100%;
  border-width: 2px;
  border-radius: 2px;
}

.album-image-modal {
  height: 100vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.list-item {
  cursor: pointer;
}
.list-item:hover {
  background-color: #807d7d40;
}

.dark-theme.album-modal .dialog-container {
  border: 1px solid #404040;
  background-color: black;
  color: white;
}

.dark-theme .btn-icon  {
  stroke: #0076FF;
}
.dark-theme button.search-clear-button {
  color: white;
}
.dark-theme.control-bar {
  box-shadow: -1px -6px 20px 0px #0b0530;
  background-color: black;
  border-top: 1px solid #93858559;
}
.dark-theme .album-info {
  color: #a39191;
}
.dark-theme .card {
  background-color: black;
  border: 1px solid #404040;
  color: rgb(179, 177, 177);
}

@media (max-width: 800px) {
  .grid-size {
    display: none;
  }
  .page__content {
    margin-top: 35px;
  }
  #target,
  .control-content {
    flex-direction: column;
  }
  .album-modal .dialog {
    width: 90%;
  }
  .album-image {
    background-position: top !important;
  }
}

@media (max-width: 450px) {

  .control-content {
    width: 100%;
  }
  .alpha-shuffle {
    justify-content: space-around;
  }
  .search-bar {
    justify-content: center;
    align-self: center;
  }
}

.duration {
  word-break: normal;
}

.hide-control-bar-button {
  width: 2.5rem;
  position: fixed;
  right: .5rem;
  bottom: .5rem;
}

.hide-album-modal-button {
  width: 2.5rem;
  position: fixed;
  right: .5rem;
  bottom: 10%;
  z-index: 2000;
}
.show-control-bar-button {
  width: 2.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

label {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-family: sans-serif;
  margin-top: -8px;
}
